<script lang="ts">
import { reactive, computed } from "vue";
export default {
  setup() {
    const state = reactive({
      num1: "0",
      num2: "0",
      result: 0,
    });
    const add = function () {
      state.result = parseInt(state.num1) + parseInt(state.num2);
    };
    const result = computed(function () {
      return parseInt(state.num1) + parseInt(state.num2);
    });
    return { state, add, result };
  },
};
</script>

<template>
  <div class="box">
    <div>
      <input
        type="text"
        ref="num1"
        v-model="state.num1"
        class="center_text bold_text"
      />
    </div>
    <div class="center_text bold_text">+</div>
    <div>
      <input
        type="text"
        ref="num1"
        v-model="state.num2"
        class="center_text bold_text"
      />
    </div>
    <div>
      <button class="center_text buttonW bold_text" @click="add()">=</button>
    </div>
    <div class="center_text bold_text" ref="result">{{ result }}</div>
  </div>
</template>

<style>
.box {
  text-align: center;
  border-style: solid;
  width: 400px;
  padding: 10px;
}

.center_text {
  text-align: center;
  margin: 5px;
}

.bold_text {
  font-weight: bold;
}

.buttonW {
  width: 100px;
}
</style>
